*.json
*.sh
*.md
*.yml
*.png
yarn.lock
.env
.env-example
.husky/*
.lintstagedrc
.prettierignore
.gitignore
.eslintignore
.czrc
.github/*
todo
node_modules/*
.next
out
apps/landing-page/config.ts
apps/docs-page
